// src/style/_config.scss

$headings-font-family: "soleil", sans-serif;
$headings-font-weight: 800;
$font-family-base: "soleil", sans-serif;

$theme-colors: (
  "primary": #20c98b,
  "danger": #ff4136,
);
